head
    title Welcome to mujjio #{name}
    meta(name="keywords", content="")
    meta(name="author", content="mujjio")
    meta(http-equiv="CACHE-CONTROL", content="NO-CACHE")    
    meta(http-equiv="content-type", content="text/html;charset=utf-8")

    link(rel="stylesheet", href="/public/css/global_style.css", type="text/css")
    link(rel="stylesheet", href="/public/css/isotope.css", type="text/css")

    script(src="/public/js/jquery.min.js")
    script(src="/public/js/jquery.isotope.min.js")
    script(src="/public/js/modernizr-transitions.js")
    script(src="/public/js/jquery.elastic.source.js")

    script(src="/public/js/audio-player/audio-player.js")
    script(src="/public/js/video/player/jwplayer.js")
