#switcher-handle
{
	height: 100%;
	width: 145px;
	position:fixed;	
	top: 0;
	left:-172px;
}
#switcher-handle a#handle
{
	width: 40px;
	height:115px;
	position: absolute;
	left: 171px;
	top: 5%;
	text-indent: 60px;
	overflow: hidden;
	background: url(../images/feedback-bg.png) 0 0 no-repeat;
}
#switcher-handle a#handle.out
{
	background-position: 0 -115px;
}


#style-switcher {  
 
	background:#FFF;
	border:1px solid #c6c6c6;
	-moz-box-shadow:0px 3px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 3px 3px rgba(0,0,0,0.1);
	box-shadow:0px 3px 3px rgba(0,0,0,0.1);
	width:130px;
	margin:10px 0 0 20px;
	height:auto;
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	padding:10px 10px 10px 10px ;
	text-align:center;
	z-index:0;
} 

.color-box,.bg-box,.pattern-box {
	width:20px;
	height:20px;
	display:block;
	float:left;
	margin-right:2px;
	margin-left:2px;
  margin-bottom: 5px;
  border: 1px solid #cacaca;
}
#colorpicker {
	margin-left:25px;
	width: 80px;
	height: 24px;
	background: url(../images/colorpicker/select2.png);
}
#colorpicker div {
	margin-left:25px;
	width: 80px;
	height: 24px;
	background: url(../images/colorpicker/select2.png) center;
}

#body-font, #headings-font { width: 130px; }
.line{
	width:100%;
	margin:5px auto;
	float:left;
	background:url("../images/pattern-pixel.png") repeat;
	height:5px;
}
.last {margin-right:0px!important;}

.buy-now-button {margin-left:-3px;}
