.one-fourth
    h4
        a(href="#") Photography
    p
        a.portfolio-item-preview(href="/public/images/gallery/bike-large.jpg", data-rel="prettyPhoto", title="from Gary McCarville's Portfolio")
            img.portfolio-img.pretty-box(src="/public/images/gallery/bike.jpg", alt="", title="Pudicherry Bicycle", width="210", height="145")
    p
    |Pudicherry Bicycle
    br
    a(href="#") Gary McCarville
    br
    |Added today
    h4(style="float: left;margin-top: 10px")
        a(href="#")
            span.colored Bid to get your content here

.one-fourth
    h4
        a(href="#") Video
    p
        a.portfolio-item-preview(href="http://vimeo.com/8245346", rel="prettyPhoto")
            img.portfolio-img.pretty-box(src="/public/images/gallery/video-thumb.jpg", width="210", height="145", style="opacity: 1;")
    p
    |Cloud Kitchen
    br
    a(href="#") Suhail Manzoor
    br
    |Added Today

    h4(style="float: left;margin-top: 10px")
        a(href="#")
            span.colored Bid to get your content here

.one-fourth
    h4
        a(href="#") Music
    p
        img.portfolio-img.pretty-box(src="/public/images/gallery/paolo.jpg", alt="paola", width="210", height="145", style="opacity: 1;")
    object#audioplayer_2(width="217", height="24", type="application/x-shockwave-flash", name="audioplayer_2", style="outline: none", data="/public/js/audio-player/player.swf")
        param(name="bgcolor", value="#FFFFFF")
        param(name="wmode", value="transparent")
        param(name="menu", value="false")
        param(name="flashvars", value="initialvolume=100&amp;left=000000&amp;lefticon=FFFFFF&amp;soundFile=http://www.graniteforme.com/media/06_-Paolo_Nutini-_New_Shoes.mp3&amp;titles=New Shoes&amp;artists=Paolo Nutini&amp;autostart=no&amp;playerID=audioplayer_2")
    p
        |New Shoes -
        a(href="#") Paolo Nutini
        br
        |Added Today
        br
    h4(style="float:left")
        a(href="#")
            span.colored Bid to get your content here

.one-fourth.last
    h4
        a(href="#") Products &amp; Services
    p
    a.portfolio-item-preview(href="http://vimeo.com/8245346", rel="prettyPhoto")
            img.portfolio-img.pretty-box(src="/public/images/gallery/grid-img-004.jpg", width="210", height="145", style="opacity: 1;")
    h4(style="float: left;margin-top: 10px")
    p
        |Windows 7 PC
        br
        a(href="#") Best Buy
        br
        |Added Today
        br
    h4(style="float: left;margin-top: 10px")
        a(href="#")
            span.colored Bid to get your content here

.horizontal-line
