.one-fourth
    .text-align-left
            h4 Social Network
            p Own your own network, build communities, and create value for your profile.
        img.img-align-left(src="/public/images/promos/login-promo-social.jpg", alt="", width="217", height="67")
.one-fourth
    .text-align-left
        h4 Marketplace
        p Sell and auction your content, buy and bid for products and services.
        br
    img.img-align-left(src="/public/images/promos/login-promo-marketplace.jpg", alt="", width="217", height="67")
.one-fourth
    .text-align-left
        h4 Content
        p Create blogs and photo albums, upload videos and music. Buy content from other members.
    img.img-align-left(src="/public/images/promos/login-promo-content.jpg", alt="", width="217", height="67")
.one-fourth.last
    .text-align-left
        h4 Add Value
        p Build the value of your network through content and services and look for a buyer!
    img.img-align-left(src="/public/images/promos/login-promo-value.jpg", alt="", width="217", height="67")
.horizontal-line
