#copyright
    a#copyright-logo(href='#{url}', title="home")
        img(width="185", height="50", alt="", src="/public/images/logo-bottom.png")
    .right
        p
            a(href="#") Home &bull;
            a(href="#") Help &bull;
            a(href="#") About Us &bull;
            a(href="#") Terms &amp; Conditions &bull;
            a(href="#") Privacy &bull;
            a(href="#") Contact
        span &copy; Copyright Mujjio Limited 2011. All rights reserved.
