.intro-pages
    h3 This is 
        span.colored Mujjio... 
        the social network that gives back... 
        span.colored ownership of your content to you 
        ... to sell, auction, and bring value to your own profile and network.
