.one-half
    h3
        a#link-login-signup(href="#") 
        span.colored Sign Up
        ... it's fast &amp; free.
.one-half(style="text-align: right")
    h3 watch the                                    
        a#link-login-video(href="#")
        span.colored Mujjio Video
.one
    #slideshow
        #slides
            #slider-big
                .slides_container.big-slider
                    .slide
                        img(src="/public/images/slideshow/slide-04.jpg", alt="", width="950", height="350")
                    img(src="/public/images/slideshow/slide-001.jpg", alt="", width="950", height="350")
                    .slide
                        img(src="/public/images/slideshow/slide-001.jpg", alt="", width="950", height="350")
                        .caption
                            p This is a caption.
                    img(src="/public/images/slideshow/slide-001.jpg", alt="", width="950", height="350")
                .slides-nav
                    a.prev(href="#")
                        Previous Slide
                    a.next(href="#")
                        Next Slide