!!! 5
head
    title Welcome to mujjio #{name}
body
    h1 Welcome to mujjio #{name}
    #container
        p
            |Your registration is almost completed. You just need
            |to click on the this
            a(href='#{url}') link to verify your email address.
            |Thank you for signing up and hope you enjoy your stay.
            |mujjio.
       