#container
    .box.video.following
        h2.title Login to mujjio
        form(id='join', method='post', action='/activate.htm')
            fieldset                
                ol
                    li
                        label(for='email') Email Address
                        input(id='email', type='email', name='email', autofocus)
                    li
                        label(for='password') Password
                        input(id='password', type='password', name='password', autofocus)
                    li
                        label(for="cookie") Keep me logged in
                        input(id='cookie', type='checkbox', name='cookie') 
                    li
                        a(href='/rest.htm') Forgot my Password
                        input(id='uid', name='uid', type='hidden', value='#{options.data.uid}')
            fieldset(id='controls')
                button(type='submit') Login