.muj-tabbed-content {
	background-color: #fff;
	width: 620px;	
}

.tabs {
	height: 62px;
	position: relative;
}

.tabs .moving_bg {
padding: 15px;
background: url(../images/furniture/arrow.png) no-repeat;
height:6px;
margin:37px 0px 0px 20px;
position: absolute;
color:#000;
z-index: 190;
left: 0;
}

.tabs .tab_item {
font-family: Helvetica, Tahoma; font-weight:normal; font-size:10px;
background: url(../images/furniture/middle-button-right.png) right no-repeat;
width:40px; height:32px;
float: left;
padding:12px 4px 0px 0px;
margin-right:14px;
margin-left:6px;
color: #808080;
text-align: center;
z-index: 200;
position: relative;
cursor: pointer;
}

.tabs-left { background: url(../images/furniture/midle-button-left.png) no-repeat left; float:left; width:5px; height:32px; margin:-6px 0px 0px -5px;}

.tabbed_content .slide_content {
	overflow: hidden;
	background-color: #000000;
	padding: 20px 0 20px 20px;
	position: relative;
	width: 600px;
}

.tabslider {
	width: 5000px;
}

.tabslider ul {
	float: left;
	width: 560px;
	margin: 0px;
	padding: 0px;
	margin-right: 40px;
}

.tabslider ul a {
	color: #ffffff;
	text-decoration: none;
}

.tabslider ul a:hover {
	color: #aaaaaa;
}

.tabslider ul li {
	padding-bottom: 7px;
}