.tabbed_content {
background-color: #fff;
width: 950px;	
}

.tabs {
height: 62px;
position: relative;
}

.tabs .moving_bg {
padding: 15px;
background: url(../images/furniture/arrow.png) no-repeat;
height:6px;
margin:37px 0px 0px 20px;
position: absolute;
color:#fff;
z-index: 190;
left: 0;
}

.tabs .tab_item {
font-family: Helvetica, Tahoma; font-weight:normal; font-size:10px;
background: url(../images/furniture/middle-button-right.png) right no-repeat;
width:40px; height:32px;
float: left;
padding:12px 4px 0px 0px;
margin-right:14px;
margin-left:6px;
color: #666666;
text-align: center;
z-index: 200;
position: relative;
cursor: pointer;
}

.tabs-left { background: url(../images/furniture/midle-button-left.png) no-repeat left; float:left; width:5px; height:32px; margin:-6px 0px 0px -5px;}

.tabbed_content .slide_content {
overflow: hidden;
background-color: #fff;
padding: 0;
position: relative;
width: 800px;
}

.tabslider {
width: 5000px;
}

.tabslider .slide {
float: left;
width: 800px;
margin: 0px;
padding: 0px;

}

