!!! 5
html(lang="en")
    include includes/head
    body
        #wrapper
            .center
                #container

                    #header
                        include includes/mast

                    #content
                        #login-top-block
                            include includes/slideshow 
                        .one
                            include includes/intro 
                        .one
                            include includes/blurb
                         
                        .one
                            include includes/adverts

                        #copyright-wrapper
                            include includes/footer
       