#left
    #logo
        img(width="100", height="47", src="/public/images/logos/mujjio-logo.png")
    ul#filters
        li View
        li
            a.selected(data-filter="*", href="#filter") Show All
        li
            a(data-filter=".updates", href="#filter") Updates
        li
            a(data-filter=".updates", href="#filter") Updates
        li
            a(data-filter=".photo", href="#filter") Photos
        li
            a(data-filter=".music", href="#filter") Music
        li
            a(data-filter=".products", href="#filter") Products
        li
            a(data-filter=".services", href="#filter") Services
        li
            span Updates From
        li
            a(data-filter="*", href="#filter") Show All
        li
            a(data-filter=".friends", href="#filter") Friends
        li
            a(data-filter=".family", href="#filter") Family
        li
            a(data-filter=".work", href="#filter") Work
        li
            a(data-filter=".following", href="#filter") Following
            