html {
    overflow: scroll;
}

BODY
{

	padding: 0;
	background-color: #FFF;
	font-family: Tahoma, Arial, "Sans Serif";
	text-align: justify;
}
/*link style*/
A
{
	outline: none;
/*x Firefox*/
	text-decoration: none;
	color: #576D89;
}
A:hover, A.selected, A:hover.selected
{
	color: #668AB9;
}
/*general style image*/
IMG
{
	border: none;
	margin-bottom: -5px;
	padding-right: 0px;
}
/*title style*/
H1, H2, H3
{
	margin: 0;
	padding: 0;
	font-family: Tahoma, Arial, "Sans Serif";
}
H1
{
	font-size: 14px;
}
H2
{
	font-size: 12px;
}
H3
{
	font-size: 18px;
}
/*list style*/
UL, OL
{
	margin-left: 0;
}
UL UL
{
	margin-bottom: 2px;
}
/*clearfix*/
.clearfix
{
	clear: both;
}
/*row wrapper*/
.row_wrapper
{
	width: 100%;
	height: 30px;
	float: left;
	background: #FFF;
}
/*row item*/
.row_item
{
	font-size: 12px;
	color: #666666;
	float: left;
}
/*row title*/
.row_title
{
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	float: left;
}
/*main wrapper*/
#wrapper
{
	width: 980px;
	margin: auto;
}
/*header*/
#header
{
	margin-top: 10px;
	position: relative;
}
#logo
{
	width: 271px;
	float: left;
}
/*menu header-footer*/
#menu
{
	position: absolute;
	right: 350px;
	top: 7px;
}
#menu A
{
	padding: 0 30px;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: #576D89;
}
#mojo_meter
{
	position: absolute;
	right: 87px;
	top: -6px;
	width: 159px;
	height: 42px;
	font-size: 12px;
	color: #576D89;
	background: #FFFFFF url(../images/mojo_meter.gif) no-repeat top left;
}
/*footer*/
#footer_menu A
{
	padding: 0 30px;
	text-decoration: none;
	font-size: 10px;
	color: #576D89;
}
#menu A:hover, #menu A.selected, #menu A:hover.selected
{
	color: #668AB9;
}
#menu A.last
{
	border-right: none;
}
/*top row*/
#top
{
	height: 80px;
	position: relative;
	margin: 5px 0 10px;
	background: #FFFFFF;
	color: #EEEEEE;
}
#top_left
{
	width: 176px;
	height: 75px;
	padding: 15px 0 0 10px;
	background: #92AB3A;
	float: left;
	margin-right: 1px;
}
#top_left_first_name
{
	position: absolute;
	top: 18px;
	left: 70px;
}
#top_left_last_name
{
	position: absolute;
	top: 33px;
	left: 70px;
}
#top_left_mojo
{
	position: absolute;
	top: 48px;
	left: 70px;
	font-size: 12px;
}
#top_left_icons
{
	color: #CCCCCC;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	top: 68px;
	left: 10px;
}
#top_centre
{
	width: 528px;
	height: 90px;
	background: #92AB3A;
	float: left;
	margin-right: 0px;
}
#carousel_wrapper
{
	color: #404040;
/*margin: 0 12%;*/
	margin: 0 20px;
}
#top_right
{
	width: 240px;
	height: 80px;
	padding: 5px;
	background: #92AB3A;
	color: #EEEEEE;
	float: left;
}
#top_right A
{
	padding: 0 0 0 21px;
	text-decoration: none;
	font-size: 12px;
	color: #CCCCCC;
	float: left;
}
#top_right A:hover, #top_right A.selected, #top_right A:hover.selected
{
	color: #DDDDDD;
	
}
/*content*/
#content
{
	margin: 10px 0 0;
	padding: 5px;
	height: auto;
	background: #FFFFFF;
}
/*content items container*/
#content_items
{
	margin: 0;
	padding: 20px 0 0;
	width: 960px;
	height: 700px;
	background: #FFFFFF;
	float: left;
}
/*content item*/
.content_item
{
	margin: 0;
	padding: 5px;
	width: 100%;
	height: auto;
	background: #FFFFFF;
	float: left;
}
/*content item image*/
.content_item_image
{
	margin: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	background: #FFFFFF;
	float: left;
}
/*content item title*/
.content_item_title
{
	width: 260px;
	margin: 7px 0 0 10px;
	color: #576D89;
	font-size: 14px;
	font-weight: bold;
	background: #FFFFFF;
	float: left;
}
/*content update time*/
.content_item_update_time
{
	color: #576D89;
	font-size: 10px;
	position: relative;
	top: 11px;
	float: left;
}
/*content item message wrapper*/
.content_item_message_wrapper
{
	margin: 0 0 10px;
	width: 100%;
	height: auto;
	float: left;
	background: #FFF;
}
/*content item message*/
.content_item_message
{
	width: 500px;
	height: auto;
	color: #666666;
	font-size: 12px;
	background: #FFFFFF;
	float: left;
	margin-left: 40px;
}
/*content item message sub item*/
.message_sub_item
{
	margin: 0;
	padding: 0;
	color: #576D89;
	font-size: 12px;
	float: left;
}
/*content item icons*/
.content_item_icons
{
	width: 150px;
	color: #666666;
	font-size: 10px;
	background: #FFFFFF;
	float: right;
}
/*content item comments*/
.content_item_comments
{
	width: 500px;
	height: auto;
	margin: 5px 0 10px 40px;
	background: #FFFFFF;
	color: #576D89;
	font-size: 12px;
	float: left;
}
/*content item comment box*/
.content_item_comment_box
{
	width: 360px;
	height: 35px;
	margin: -10px 0 0 45px;
	background: #FFFFFF;
	float: left;
	border: none;
}
/*content add box*/
#content_add
{
	width: 510px;
	height: 40px;
	margin: 0 182px;
	padding: 4px 5px 10px 10px;
	border: 1px solid #92AB3A;
	background: #FFFFFF;
	color: #576D89;
	font-size: 12px;
	font-weight: bold;
	float: left;
}
/*content add item box*/
#content_add_item
{
	width: 320px;
	height: 25px;
	padding: 0;
	border: none;
	background: #FFFFFF;
	color: #576D89;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	top: -4px;
	left: 180px;
}
/*content add item button*/
#content_add_item .btn
{
	width: 10px;
	height: 16px;
	margin: 0 0 7px 10px;
	cursor: pointer;
	text-indent: -9999px;
	background: #FFFFFF url(../images/blue_arrow.gif) no-repeat center center;
	border: none;
}
/*content add item input*/
#content_add_item .input
{
	margin: -7px 0 0;
	width: 280px;
	height: 22px;
	color: #666666;
	font-size: 14px;
	border: 1px solid #CCCCCC;
	padding: 3px 3px 0;
}
/*content add icons*/
#content_add_icons
{
	width: 300px;
	height: 25px;
	float: left;
	background: #FFFFFF;
}
/*content add item input*/
#content_add_item .input:focus
{
	outline: none;
}
/*content_add news_icon*/
#content_add A.news_icon
{
	width: 25px;
	height: 25px;
	padding: 0 0 10px;
	display: inline-block;
	border: none;
	background: #FFFFFF url(../images/news_icon.gif) no-repeat center center;
}
/*content_add news_icon hover*/
#content_add A.news_icon:hover, A.news_icon:active
{
	width: 25px;
	height: 25px;
	padding: 0 0 10px;
	display: inline-block;
	background: #FFFFFF url(../images/news_icon_focus.gif) no-repeat center center;
}
#content_add A.news_icon:hover, A.news_icon:hover.selected
{
	width: 25px;
	height: 25px;
	padding: 0 0 10px;
	display: inline-block;
	background: #FFFFFF url(../images/news_icon_focus.gif) no-repeat center center;
}
/*content_add photo_icon*/
#content_add A.photo_icon
{
	width: 25px;
	height: 25px;
	padding: 0 0 10px;
	display: inline-block;
	background: #FFFFFF url(../images/camera_icon.gif) no-repeat center center;
	position: relative;
}
/*content_add photo_icon hover*/
#content_add A.photo_icon:hover
{
	width: 25px;
	height: 25px;
	padding: 0 0 10px;
	display: inline-block;
	background: #FFFFFF url(../images/camera_icon_focus.gif) no-repeat center center;
	position: relative;
}
/*content_add video_icon*/
#content_add A.video_icon
{
	width: 25px;
	height: 25px;
	padding: 0 0 10px;
	display: inline-block;
	background: #FFFFFF url(../images/video_icon.gif) no-repeat center center;
	position: relative;
}
/*content_add video_icon hover*/
#content_add A.video_icon:hover
{
	width: 25px;
	height: 25px;
	padding: 0 0 10px;
	display: inline-block;
	background: #FFFFFF url(../images/video_icon_focus.gif) no-repeat center center;
	position: relative;
}
/*content_add music_icon*/
#content_add A.music_icon
{
	width: 25px;
	height: 25px;
	padding: 0 0 10px;
	display: inline-block;
	background: #FFFFFF url(../images/music_icon.gif) no-repeat center center;
	position: relative;
}
/*content_add music_icon hover*/
#content_add A.music_icon:hover
{
	width: 25px;
	height: 25px;
	padding: 0 0 10px;
	display: inline-block;
	background: #FFFFFF url(../images/music_icon_focus.gif) no-repeat center center;
	position: relative;
}
/*content_add link_icon*/
#content_add A.link_icon
{
	width: 25px;
	height: 25px;
	padding: 0 0 10px;
	display: inline-block;
	background: #FFFFFF url(../images/link_icon.gif) no-repeat center center;
	position: relative;
}
/*content_add link_icon hover*/
#content_add A.link_icon:hover
{
	width: 25px;
	height: 25px;
	padding: 0 0 10px;
	display: inline-block;
	background: #FFFFFF url(../images/link_icon_focus.gif) no-repeat center center;
	position: relative;
}
/*more content*/
#more_content A
{
	font-size: 12px;
	margin: 30px 0 20px 45px;
	background: #FFFFFF;
	color: #576D89;
}
/*footer*/
#footer
{
	width: 920px;;
	text-align: center;
	margin: 50px 0;
	padding: 20px;
	border-top: 1px solid #CCC;
	float:left;
}
/*search box*/
FIELDSET.search
{
	border: none;
	width: 220px;
	height: 25px;
	margin: 0 auto;
	background: #92AB3A;
	cursor: hand;
}
.search INPUT, .search BUTTON
{
	border: none;
	float: left;
}
.search INPUT.box
{
	color: #666666;
	font-size: 14px;
	width: 160px;
	height: 31px;
	padding: 7px 7px 0 4px;
	background: #92AB3A url(../images/search_input_box.jpg) no-repeat;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 7px;
}
.search INPUT.box:focus
{
	background: #92AB3A url(../images/search_input_box_focus.jpg) no-repeat;
	outline: none;
	margin-bottom: 34px;
}
.search BUTTON.btn
{
	width: 31px;
	height: 31px;
	cursor: pointer;
	text-indent: -9999px;
	background: #92AB3A url(../images/search_button.jpg) no-repeat center center;
}
.search BUTTON.btn:hover
{
	background: #92AB3A url(../images/search_button.jpg) no-repeat center center;
}
/*comment add box*/
FIELDSET.commentadd
{
	border: 1px solid #ff0000;
	width: 320px;
	height: 40px;
	margin: 0 auto;
	background: #FFFFFF;
}
.commentadd INPUT, .commentadd BUTTON
{
	border: none;
	float: left;
}
.commentadd INPUT.box
{
	color: #576D89;
	font-size: 14px;
	width: 250px;
	height: 32px;
	padding: 0;
	margin: 0;
	background: #FFFFFF;
}
.commentadd INPUT.box:focus
{
	background: #FFFFFF;
	outline: none;
}
.commentadd BUTTON.btn
{
	width: 20px;
	height: 20px;
	cursor: pointer;
	text-indent: -9999px;
	background: #FFFFFF url(../images/blue_arrow.jpg) no-repeat center center;
}
.commentadd BUTTON.btn:hover
{
	background: #FFFFFF url(../images/blue_arrow.jpg) no-repeat center center;
}
/*FRIEND PAGE


friend_left*/
#friend_left
{
	margin: 0 auto;
	width: 181px;
	min-height:800px;
	background: #fff;
	float: left;
}
/*friend_right*/
#friend_right
{
	width: 780px;
	min-height:800px;
	margin: 0 0 0 1px;
	background: #fff;
	float: left;
}
#friend_main_pic
{
	margin: 10px 0 0;
	padding: 0 0 0 40px;
	width: 120px;
	height: 130px;
	background: #FFF;
	float: left;
}
#friend_name
{
	width: 180px;
	height: 20px;
	margin: 10px 0 0 30px;
	padding-top: 10px;
	font-size: 16px;
	color: #576D89;
	font-weight: bold;
	float: left;
}
/*friend_menu*/
#friend_menu
{
	margin: 10px 0 0;
	width: 730px;
	height: 20px;
	padding: 12px 0 0 30px;
	font-size: 12px;
	background: #FFFFFF;
	float: left;
}
/*friend_content_wrapper*/
#friend_content_wrapper
{
	margin: 7px 0 0 30px;
	padding: 20px 0 0;
	width: 740px;
	background: #FFF;
	color: #666666;
	float: left;
	border-top: 1px solid #92AB3A;
}
/*friend_images*/
#friend_images
{
	width: 710px;
	background: #FFF;
	color: #576D89;
	float: left;
	display: inline;
}
