!!! 5
html(lang="en")
    include includes/isotope/head
    body
        include includes/isotope/global
        include includes/isotope/navigation
        include includes/isotope/search
        include includes/isotope/left
        include includes/isotope/main              