!!! 5
html(lang="en")
    include includes/yui/uploads
    body
        .yui3-g
            .yui3-u-14-24                
                include features/yui/uploadform              
            .yui3-u-10-24                        
    </div>
</body>